* {
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    /*background-image: url(img/painel2mais.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;*/

    background-color: skyblue;
    background-image: url(img/nuvem1.png);
    background-size: 50vw 29vh;
}
#form1 {
    width: 100%;
    height: auto;
    display: flex;
}
#form1 input{
    width: 115px;
    max-width: 33.3vw;
    height: auto;
}
#form2 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
}
#gibi {
    width: 100%;
    height: 100%;
    display: block;
    
}
.gibi-linha {
    width: 90%;
    height: 25vh;
    display: flex;
    margin: auto;
    margin: 0px auto 10px auto;
}
.gibi-coluna1 {
    width: 50%;
    height: 100%;
}
.gibi-coluna1 img {
    width: 100%;
    height: 100%;
}
.gibi-coluna2 {
    width: 50%;
    height: 100%;
}
#botoes {
    width: 100vw;
    height: auto;
    display: flex;
    position: fixed;
    bottom: 0;
}
/*dica :enabled e :disabled pros input*/