* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'tmj';
    src: url(tmj_by_mallagueta_pepper-d62rr8r.ttf);
}
body{
    width: 100%;
    height: 100%;
    background-color: skyblue;
    background-image: url(img/nuvem1.png);
    background-size: 50vw 29vh;
}
#header {
    display: block;
}
#form1,#form2 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}
#form1 input {
    display: flex;
    flex-shrink: 1;
    width: auto;
    height: auto;
}
#form2 input {
    display: flex;
    flex-shrink: 1;
    width: auto;
    max-width: 18vw;
    height: auto;
}
#gibi {
    width: 99vw;
    height: 80vh;
    display: block;
    margin: auto;
}
.gibi-linha {
    width: 100%;
    height: 32%;
    display: flex;
    margin: auto;
    margin: 0px auto 10px auto;
}
.gibi-linha:first-child {
    margin-top: 4px;
}
.gibi-coluna1, .gibi-coluna2 {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
}
.gibi-coluna1 img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.nuvemTexto {
    font-family: 'tmj';
    font-size: 24px;
    display: flex;
    margin: auto;
}
.gibi-coluna2 p {
    padding: 5px;
    border-radius: 13px;
    border: 2px solid black;
}
#botoes {
    width: 100vw;
    height: auto;
    display: flex;
    position: fixed;
    bottom: 0;
}
#botoes input {
    margin-right: 5px;
}
#sfc3sue44sxr313lsu4d6xlb2x4mfe7uzta {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}
@media screen and (max-width:374px) {
    #botaoLargura {
        display: none;
    }
}